<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input name="name" type="text" placeholder="celebrant name">
        <input name="message" type="text" placeholder="message to celebrant">
        <select name="type" id="">
            <option value="wedding">wedding</option>
            <option value="birthday">birthday</option>
            <option value="housewarming">housewarming</option>
        </select>
        <input type="datetime-local" name="dateOfBirth">
        <input type="file" id="image"
        name="image" value="" required>
        <button>submit</button>
    </form>
</body>
</html>